#all {
    text-align: center;
}
body {
    background-color: #2e2e2e;
}
a {
    
    
    text-decoration: none;
    color: aqua;
    float: left;
    text-transform: uppercase;
    margin: 0px 100px 0px 100px;
}
li {
    list-style: none;
}
nav.menu {
    
}
h1 {
    color: rgba(127, 255, 255, 0.637);
}
section {
    
}
header {
    background-color: #1c2842;
    border: solid 0px;
    margin-bottom: 100px;
}