#all {
    text-align: center;
    border: solid 0px;
    box-sizing: border-box;
    
}
body {
   background-color: #D4D4D4;
}
nav.menu a {
    
    
    text-decoration: none;
    color: #1E3F66;
    float: left;
    text-transform: uppercase;
    margin: 0px 100px 0px 100px;
    opacity: 1;
    transition: 1s;
}
nav.menu a:hover {
    color: red;
}
li {
    list-style: none;
}
h1 {
    color: rgba(53, 80, 233, 0.637);
}
section.comunidade {
    display: flex;
    justify-content: center;
}
header {
    background-color: #1c2842;
    border: solid 0px;
    margin-bottom: 70px;
}
a#conteudo {
    text-decoration: none;
    color: #1E3F66;
    text-transform: uppercase;
    margin: 0px 100px 0px 100px;
    opacity: 1;
    transition: 1s;
    
}
a#conteudo:hover {
    color: red;
}
figure {
    position: absolute;
    right: -2px;
    top: 60px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-bottom: 100px;
    transition: 1s;
}
a:hover {
    color: darkgray;
}
a#perfil {
    text-decoration: none;
    color: #1E3F66;
    text-transform: uppercase;
    margin: 0px 100px 0px 100px;
    opacity: 1;
    transition: 1s;
    text-align: left;
}
a#perfil:hover {
    color: red;
}
footer {
    background-color: #1c2842;
    text-align: left;
    color: aliceblue;
}